<mat-card class="max-w-lg mx-auto flex items-center p-4 bg-white rounded-xl shadow-lg mb-5">
  <div class="flex items-center flex-grow mr-5">
    <img src="" class="w-20 h-20 rounded-full mr-5" alt="Bank Logo"> <!-- Agregado mr-5 aquí -->
    <div class="flex-grow">
      <div class="text-lg font-bold">Plan de Pagos: paymentPlan.Name</div>
      <div class="text-md">Monto: vehiclePrice</div>
      <div class="text-md">Tasa: tea %</div>
    </div>
  </div>
  <button mat-raised-button color="primary" [routerLink]="['/payment-details']" class="font-bold">
    Ver más
  </button>
</mat-card>






<!--
<mat-card class="flex items-center justify-between p-4 rounded-lg shadow-md mb-4">
  <div class="flex items-center">
    <img [src]="bankImageUrl" class="w-20 h-20 rounded-full mr-4" alt="Bank Logo">
    <div>
      <div class="text-lg font-bold">{{ paymentPlanName }}</div>
      <div class="text-md">Monto: {{ vehiclePrice | currency }}</div>
      <div class="text-md">Tasa: {{ tea }}%</div>
    </div>
  </div>
  <button mat-raised-button color="primary" [routerLink]="[paymentPlanId, 'payment-details']" class="font-bold">
    Ver más
  </button>
</mat-card>

-->
