<mat-toolbar class="bg-[#3d348b] flex justify-around items-center px-4 py-2">
  <a [routerLink]="['/dashboard']" class="flex items-center my-2">
    <img src="../assets/logo-smart-finance.png" class="w-32 hover:scale-95 duration-200 mx-2 rounded-lg" alt="SmartFinance Logo" >
    <span class="text-[#3d348b] text-sm ml-2">{{ username }}</span>
  </a>
  <div class="flex justify-center gap-4 ">
    <button mat-raised-button color="warn" class="font-bold hover:text-white hover:scale-110 duration-200 px-4 py-2 rounded-lg" [routerLink]="['/info-banks']">
      Bancos Info
    </button>
    <button mat-raised-button color="warn" class="font-bold hover:text-white hover:scale-110 duration-200 px-4 py-2 rounded-lg" [routerLink]="['/new-plan']">
      Nueva Cotización
    </button>
  </div>
</mat-toolbar>

