<div class="m-6 flex place-content-center">

  <div class=" bg-[#3d348b62]  p-8 w-fit ">

    <div class="space-y-8 ">

      <h1 class="text-2xl font-bold text-center pb-2.5">Calculadora de Créditos Vehiculares</h1>

      <div class="">

        <div>

          <label for="email" class="">Nuevo Plan de Pagos :</label>
          <input type="text" id="email" class="border px-2 py-1 ml-2 focus:outline-none focus:border-gray-600 w-96" placeholder="Ingresa un nombre para tu nuevo plan de pagos">

        </div>

      </div>

      <div class="">

        <div class="flex space-x-3 items-center">

          <div class="">

            <label for="email" class="">Valor del carro :</label>
            <input type="text" id="email" class="border px-2 py-1 ml-2 focus:outline-none focus:border-gray-600 w-40" placeholder="Monto Total">

          </div>

          <div class="">

            <form method="get" action="#" class="">
              <label for="currency">Moneda :</label>
              <select name="currency" id="currency" class="ml-2">
                <option>-</option>
                <option>Soles</option>
                <option>Dolares</option>
              </select>
            </form>

          </div>

        </div>

      </div>

      <div class="">

        <div class="flex space-x-3 items-center">

          <div class="">

            <label for="email" class="">Cuota Inicial :</label>
            <input type="text" id="email" class="border px-2 py-1 ml-2 focus:outline-none focus:border-gray-600 w-44" placeholder="Ingresa la cuota inicial">

          </div>

          <div class="">

            <form method="get" action="#" class="ml-2">
              <label for="currency">Banco :</label>
              <select name="currency" id="currency" class="ml-2">
                <option>-</option>
                <option>- BCP -</option>
                <option> Interbank </option>
                <option> Scotiabank </option>
              </select>
            </form>

          </div>

        </div>

      </div>

      <div class="">

        <div class="flex space-x-3 items-center">

          <div class="">

              <form method="get" action="#" class="">
                <label for="currency" >Frecuencia de Pagos :</label>
                <select name="currency" id="currency" class="ml-2">
                  <option>-</option>
                  <option>Mensual</option>
                  <option>Bimestral</option>
                  <option>Trimestral</option>
                  <option>Cuatrimestral</option>
                  <option>Semestral</option>
                  <option>Anual</option>
                </select>
              </form>

          </div>

          <div class="">

            <div class="flex space-x-3 items-center">

              <div>
                <label for="email" class="">Tasa de Interés :</label>
                <input type="text" id="email" class="border px-2 py-1 ml-2 focus:outline-none focus:border-gray-600 w-32" placeholder="Ingresa la tasa">
              </div>

              <div>

               <form method="get" action="#" class="">
                  <select name="rate" id="rate">
                    <option>-</option>
                    <option>TEA</option>
                    <option>TNA</option>
                 </select>
                </form>

              </div>

            </div>
          </div>

        </div>

      </div>

      <div class="">

        <div class="flex space-x-3 items-center">

          <div class="">

            <label for="email" class="">Número de Años :</label>
            <input type="text" id="email" class="border px-2 py-1 ml-2 focus:outline-none focus:border-gray-600 w-16" placeholder="Años">

          </div>

          <div>

            <div class="flex space-x-3">

              <label for="email" class="">Envío de Portes Físicos :</label>
              <form method="get" action="#" class="">
                <select name="rate" id="rate">
                   <option>-</option>
                   <option>Sí</option>
                   <option>No</option>
                </select>
              </form>

            </div>

          </div>

          <div class="">

            <div class="flex space-x-3 items-center">

              <div>

                <label for="email" class="">Periodo de Gracia :</label>
                <input type="text" id="email" class="border px-2 py-1 ml-2 focus:outline-none focus:border-gray-600 w-20" placeholder="Periodos">

              </div>

              <div>

               <form method="get" action="#" class="">
                  <select name="rate" id="rate">
                    <option>-</option>
                    <option>Total</option>
                    <option>Parcial</option>
                  </select>
                </form>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="mt-5 flex space-x-3">
      <button type="submit" class="border-2 border-indigo-700 bg-violet-900 text-white py-1 w-full rounded-md hover:bg-transparent hover:text-indigo-700 font-semibold">Limpiar</button>
      <button type="submit" class="border-2 border-indigo-700 bg-violet-900 text-white py-1 w-full rounded-md hover:bg-transparent hover:text-indigo-700 font-semibold">Ingresar</button>
    </div>

  </div>

</div>

