
<div class="container mx-auto text-center py-6">

  <h1 class="text-2xl font-bold m-6">Calculadora de Créditos Vehiculares</h1>

  <div class="mt-3">
    <label for="email" class="block text-base mb-2">Nuevo Plan de Pagos :</label>
    <input type="text" id="email"
      class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600"
      placeholder="Ingresa un nombre para tu nuevo plan de pagos">
  </div>

  <div class="flex justify-around items-start">

    <div class="mt-3">
      <label for="password" class="block text-base mb-2">Valor de Carro</label>
      <input type="text" id="password"
        class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600"
        placeholder="Ingresa tu contraseña">
    </div>

    <form method="get" action="#" class="mt-3">
      <p>
        <label for="currency">Moneda :</label>
        <select name="currency" id="currency">
          <option>-</option>
          <option>Soles</option>
          <option>Dolares</option>
        </select>
      </p>
    </form>
  </div>

  <div class="flex justify-around items-start">

    <div class="mt-3">
      <label for="password" class="block text-base mb-2">Cuota Inicial</label>
      <input type="text" id="password"
        class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600"
        placeholder="Ingresa tu contraseña">
    </div>

    <form method="get" action="#" class="mt-3">
      <p>
        <label for="bank">Banco :</label>
        <select name="bank" id="bank">
          <option>-</option>
          <option>BCP</option>
          <option>Interbank</option>
          <option>Scotiabank</option>
        </select>
      </p>
    </form>

  </div>

  <div class="flex justify-around items-start">

    <form method="get" action="#" class="mt-3">
      <p>
        <label for="frequency">Frecuencia de Pagos :</label>
        <select name="frequency" id="frequency">
          <option>-</option>
          <option>Mensual</option>
          <option>Bimestral</option>
          <option>Trimestral</option>
          <option>Cuatrimestral</option>
          <option>Semestral</option>
          <option>Anual</option>
        </select>
      </p>
    </form>

    <div class="mt-3">

      <label for="email" class="block text-base mb-2">Tasa de Interés</label>
      <input type="text" id="email"
        class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600"
        placeholder="Ingresa tu correo ">

      <form method="get" action="#" class="mt-3">
        <p>
          <select name="rate" id="rate">
            <option>-</option>
            <option>TEA</option>
            <option>TNA</option>
          </select>
        </p>
      </form>

    </div>

  </div>

  <div class="flex justify-around items-start">

    <div class="mt-3">
      <label for="password" class="block text-base mb-2">Número de Años</label>
      <input type="text" id="password"
        class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600"
        placeholder="Ingresa tu contraseña">
    </div>

    <label for="email" class="block text-base mb-2">Periodo de Gracia</label>
      <input type="text" id="email"
        class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600"
        placeholder="Ingresa tu correo ">

      <form method="get" action="#" class="mt-3">
        <p>
          <select name="rate" id="rate">
            <option>-</option>
            <option>Total</option>
            <option>Parcial</option>
          </select>
        </p>
      </form>

</div>
