<app-navbar></app-navbar>

<div class="pt-16 pb-4 px-4 bg-indigo-600 min-h-screen flex justify-center items-start">  <div class="bg-white shadow-lg rounded-lg max-w-4xl w-full p-6">
    <h1 class="text-3xl font-bold text-center mb-4">Marco Legal y Teórico</h1>
    <p class="text-justify">
      El desarrollo y operación de <span class="font-semibold">Smart Finance</span> para gestionar créditos vehiculares en Perú, se encuentra enmarcada bajo diversas regulaciones y principios teóricos que garantizan su funcionalidad y conformidad con las leyes peruanas.
    </p>
    <div class="mt-6">
      <h2 class="text-2xl font-semibold mb-3">Protección de Datos Personales</h2>
      <p class="text-justify">
        Conforme a la Ley de Protección de Datos Personales (Ley N° 29733) en Perú, es fundamental obtener el consentimiento de los usuarios para recopilar y procesar sus datos personales, siempre garantizando la integridad y seguridad de esta información.
      </p>
    </div>

    <div class="mt-6">
      <h2 class="text-2xl font-semibold mb-3">Transparencia en Préstamos</h2>
      <p class="text-justify">
        La aplicación debe proporcionar información transparente sobre tasas de interés, plazos y términos de los préstamos. Cumplir con las regulaciones peruanas relacionadas con la transparencia financiera es esencial.
      </p>
    </div>

    <div class="mt-6">
      <h2 class="text-2xl font-semibold mb-3">Protección al Consumidor</h2>
      <p class="text-justify">
        Cumplir con las regulaciones peruanas de protección al consumidor es fundamental, incluyendo políticas de devolución y resolución de disputas justas.
      </p>
    </div>

    <div class="mt-6">
      <h2 class="text-2xl font-semibold mb-3">Seguridad de Datos</h2>
      <p class="text-justify">
        Se deben implementar medidas de seguridad adecuadas para proteger la información financiera y personal de los usuarios, como el cifrado de datos.
      </p>
    </div>

    <div class="mt-6">
      <h2 class="text-2xl font-semibold mb-3">Cumplimiento Tributario</h2>
      <p class="text-justify">
        Asegurarse de cumplir con las leyes fiscales peruanas, incluyendo la recaudación y el pago de impuestos sobre los ingresos generados por la aplicación.
      </p>
    </div>

    <div class="mt-6">
      <h2 class="text-2xl font-semibold mb-3">Derechos de Autor y Marcas Registradas</h2>
      <p class="text-justify">
        Evitar infringir los derechos de autor y las marcas registradas de terceros en el contenido y diseño de la aplicación.
      </p>
    </div>

    <div class="mt-6">
      <h2 class="text-2xl font-semibold mb-3">Cumplimiento con AML y CFT</h2>
      <p class="text-justify">
        Si la aplicación maneja transacciones financieras, debe cumplir con las regulaciones peruanas relacionadas con la prevención del lavado de dinero y la financiación del terrorismo.
      </p>
    </div>

    <div class="mt-6">
      <h2 class="text-2xl font-semibold mb-3">Términos y Condiciones</h2>
      <p class="text-justify">
        Se deben elaborar términos y condiciones que sean comprensibles y que establezcan claramente los derechos y responsabilidades tanto de los usuarios como de la empresa.
      </p>
    </div>

    <div class="mt-6">
      <h2 class="text-2xl font-semibold mb-3">Atención al Cliente y Resolución de Disputas</h2>
      <p class="text-justify">
        Establecer canales de comunicación claros con los usuarios para abordar consultas, quejas y disputas de manera eficiente es esencial para mantener la confianza del cliente.
      </p>
    </div>

    <div class="mt-6 text-center">
      <button onclick="location.href='/dashboard'" class="mt-6 bg-violet-900 hover:bg-violet-700 text-white font-semibold py-2 px-4 border border-violet-700 rounded shadow">
        Volver al Inicio
      </button>
    </div>
  </div>
</div>
